/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
  min-width: 758px;
  padding-bottom: 30px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 758px;
  max-width: none !important;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}



body {
  background-color: #e8e9ec;
	background-image: url('https://pbs.twimg.com/profile_background_images/297844046/bluenoise.png');
	background-repeat: repeat;
}

#main-container {
  margin-top: 5em;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0em 0em 0.5em #aaa;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 0.1em 0.1em 0.1em #aaa;
  font-size: 3em;
}

#postcontent {
  background-color: rgba(255, 255, 255, 0.99);
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.4em #aaa;
  word-wrap:break-word;
}

#user-info img {
  margin-right: 0.5em;
  height: 4em;
}

#user-info a { color: inherit; }

#timeclient { color: #666; margin-top: 0.5em; }
#timeclient a { color: inherit; }
#timeclient a:hover {
  color: #444;
  text-decoration: underline;
}

.bannerad {
  margin-bottom: 1em;
}

.actions {
  margin-top: 2em;
}

.post-title {
  word-wrap:break-word;
}

@media only screen and (max-device-width:762px){
  #mainpagesignin{ text-align: center;}
	body { width: 758px; padding-top: 3em;}
	h1 { font-size: 6em; margin: 0.5em; }
	h2 { font-size: 3em; }
	h3 { font-size: 2.8em; }
	#postinfo h4{ font-size: 2em; }
	div#charcount { font-size: 4em; }
	ul#accountaction { font-size: 1.5em; }
	p, #footer { font-size: 2.5em; }
	p#timeclient { font-size: 1.5em; }
	#site-links { width: 100%; text-align: center;}
	menu ul { line-height: 1em; }
	menu ul li { margin: 0em 0.3em;}
	p#disclaimer { position: relative; width: 100%; text-align: center; }
	.navbar-brand { font-size: 4em; padding: 0.5em 0em; }
	.nav { font-size: 2em; padding: 0.5em; }
	.nav .hidden-xs { display: none !important; }
	.nav .visible-xs { display: inline-block !important; }
	#twitter-follow { display: none;}
}