/* Effective stylesheet produced by snapshot save */
.tooltip .Icon--verified::before { color: transparent; }
.datepicker-dropdown::before { content: ""; display: inline-block; border-width: 0px 7px 7px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgba(0, 0, 0, 0.2); position: absolute; }
.datepicker-dropdown::after { content: ""; display: inline-block; border-width: 0px 6px 6px; border-style: none solid solid; border-color: -moz-use-text-color transparent rgb(255, 255, 255); position: absolute; }
.datepicker-dropdown.datepicker-orient-left::before { left: 6px; }
.datepicker-dropdown.datepicker-orient-left::after { left: 7px; }
.datepicker-dropdown.datepicker-orient-right::before { right: 6px; }
.datepicker-dropdown.datepicker-orient-right::after { right: 7px; }
.datepicker-dropdown.datepicker-orient-top::before { top: -7px; }
.datepicker-dropdown.datepicker-orient-top::after { top: -6px; }
.datepicker-dropdown.datepicker-orient-bottom::before { bottom: -7px; border-bottom: 0px none; border-top: 7px solid rgb(101, 119, 134); }
.datepicker-dropdown.datepicker-orient-bottom::after { bottom: -6px; border-bottom: 0px none; border-top: 6px solid rgb(255, 255, 255); }
.permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item, .permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item .tweet:hover { background-color: rgb(245, 248, 250); }
.tweet-counter { background-color: transparent; color: rgb(101, 119, 134); display: inline-block; width: 35px; border: 0px none; padding: 0px 3px; position: relative; vertical-align: top; top: 7px; text-align: right; font-size: 14px; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); }
.card2, .card2 p { font-size: 14px; line-height: 1.2858; }
.card2 { margin: 20px 0px 0px; padding: 0px 0px 20px; }
.card2 .util-cf::before, .card2 .util-cf::after { content: " "; display: table; }
.card2 .util-cf::after { clear: both; }
.list-editor hr { display: none; }
.list-editor .help-text { display: block; font-size: 12px; color: rgb(101, 119, 134); margin-left: 120px; }
.list-editor .field { clear: both; display: block; margin: 0px 0px 15px; }
.list-editor label { float: left; text-align: right; width: 105px; padding-right: 15px; margin-bottom: 15px; }
.list-editor input.text, .list-editor textarea { width: 290px; }
.list-editor textarea { resize: none; height: 36px; }
.list-editor .options { float: left; width: 290px; }
.list-editor .options label, .list-editor .options input { float: none; text-align: left; display: inline-block; width: auto; margin-bottom: 5px; font-size: 12px; color: rgb(101, 119, 134); }
.list-editor .options input { margin: 0px; }
.list-editor .options label b { color: rgb(20, 23, 26); }
.list-editor .list-editor-save { margin: 15px 0px 0px 120px; clear: both; }
.list-editor .btn { white-space: nowrap; }
.embed-code-container .embed-destination-wrapper { position: relative; }
.embed-code-container .embed-overlay { display: none; width: 100%; text-align: center; }
.embed-code-container .embed-overlay-spinner { position: absolute; top: 0px; left: 0px; z-index: 3; }
.embed-code-container .embed-overlay-content { display: inline-block; }
.embed-code-container .embed-overlay-spinner .embed-overlay-content { background: transparent url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-gray-14x14.gif") no-repeat scroll 0px 0px; margin-top: 20px; width: 14px; height: 14px; }
.embed-code-container .embed-overlay-error .embed-overlay-content { width: 100%; margin: 0px; padding: 17px 9px 18px; color: rgb(102, 117, 127); font-size: 12px; background-color: rgb(249, 249, 249); border: 1px solid rgb(204, 214, 221); box-sizing: border-box; border-radius: 0px 3px 3px; }
.embed-options .t1-label { margin-bottom: 8px; }
.embed-code-container textarea { width: 100%; padding: 7px 9px; margin-bottom: 8px; font-size: 14px; color: rgb(102, 117, 127); line-height: 20px; overflow: hidden; height: 55px; display: block; white-space: nowrap; border: 1px solid rgb(204, 214, 221); position: relative; z-index: 2; resize: none; box-sizing: border-box; border-radius: 0px 3px 3px; }
.modal-body .embed-code-container p { font-size: 12px; line-height: 16px; }
.embed-code-container .embed-tweet-description { color: rgb(102, 117, 127); margin-bottom: 16px; }
.embed-options { margin-top: 8px; }
.embed-preview-header { font-weight: bold; margin-bottom: 5px; }
.modal.dm-media { padding-bottom: 0px ! important; }
.dm-media-preview { position: relative; text-align: center; background-color: rgb(245, 248, 250); border-radius: 0px 0px 6px 6px; }
.dm-media-preview::before { content: ""; height: 100%; display: inline-block; vertical-align: middle; }
.dm-media { position: relative; display: inline-block; vertical-align: middle; min-width: 520px; min-height: 338px; padding: 0px; background-color: rgb(0, 0, 0); border-radius: 6px; }
.input-prepend, .input-append { font-size: 0px; }
.input-prepend .add-on, .input-append .add-on { display: inline-block; width: auto; height: 18px; min-width: 16px; margin: 0px; padding: 4px 5px; font-size: 14px; font-weight: normal; line-height: 20px; text-align: center; text-shadow: 0px 1px 0px rgb(255, 255, 255); vertical-align: middle; background-color: rgb(245, 248, 250); border: 1px solid rgb(204, 214, 221); }
.input-prepend .add-on { height: 25px; line-height: 25px; margin-right: -1px; border-radius: 3px 0px 0px 3px; }
.input-prepend input { position: relative; height: 25px; margin-bottom: 0px; font-size: 14px; line-height: 20px; vertical-align: middle; border-radius: 0px 3px 3px 0px; }
.input-prepend input:focus { z-index: 2; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.modal-container { display: none; position: fixed; overflow-y: auto; overflow-x: hidden; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 5000; }
.modal-overlay, .grid-overlay, .gallery-overlay { display: none; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 4000; background: rgba(41, 47, 51, 0.9) none repeat scroll 0% 0%; }
.gallery-overlay { z-index: 2000; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; }
.close-modal-background-target, .grid-close-target, .Gallery-closeTarget { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); border-radius: 6px; background-clip: padding-box; box-shadow: 0px 4px 15px rgba(32, 47, 51, 0.2); }
.modal-header, .modal-footer, .modal-body { padding: 12px; }
.modal-header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(230, 236, 240); border-radius: 6px 6px 0px 0px; cursor: move; padding-top: 12px; padding-bottom: 12px; }
.modal-header .modal-title { width: 75%; margin: 0px auto; overflow: hidden; font-size: 16px; font-weight: normal; line-height: 22px; color: rgb(102, 117, 127); text-align: center; text-overflow: ellipsis; white-space: nowrap; }
.modal-btn { background-color: transparent; cursor: pointer; }
.modal-btn:hover { background-color: transparent; }
.modal-close { height: 20px; padding: 0px; position: absolute; right: 10px; top: 12px; width: 20px; }
.modal-close .Icon--close { color: rgb(101, 119, 134); font-size: 12px; }
.modal-footer { text-align: right; border-top: 1px solid rgb(230, 236, 240); }
.modal-small { width: 370px; }
.modal-small .modal-title { width: 75%; }
.modal-medium { width: 500px; }
.modal-large { width: 600px; }
.modal .form-horizontal .control-label { width: 100px; }
.modal .form-horizontal .controls { margin-left: 110px; }
.modal-body p { margin-bottom: 8px; font-size: 14px; color: rgb(20, 23, 26); }
.modal-container.has-content .loading, .modal-container .tweet-loading { display: none; }
.modal-container .loading, .modal-container .error { text-align: center; margin: 50px 0px; }
#activity-popup-dialog .modal-content { background: rgb(235, 240, 243) none repeat scroll 0% 0%; overflow: visible; }
#activity-popup-dialog .modal-body { border-bottom-left-radius: inherit; border-bottom-right-radius: inherit; overflow-x: hidden; padding: 0px; }
#activity-popup-dialog .modal { overflow: visible; width: 520px; }
#activity-popup-dialog .modal-header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.activity-popup-dialog-users { border-top: 1px solid rgb(230, 236, 240); }
#activity-popup-dialog:not(.reply-users-popup) .activity-popup-dialog-users .account .avatar { margin-left: -42px; width: 32px; height: 32px; border-radius: 4px; }
.circle-avatars #activity-popup-dialog:not(.reply-users-popup) .activity-popup-dialog-users .account .avatar { border-radius: 50%; }
#goto-user-dialog .goto-user-form { position: relative; }
#goto-user-dialog input { width: 100%; box-sizing: border-box; }
#captcha-challenge-form { margin-top: 30px; }
.copy-found-media-link-container textarea.found-media-link-destination, .copy-link-to-tweet-container textarea.link-to-tweet-destination { width: 100%; padding: 7px 9px; font-size: 14px; line-height: 21px; overflow: hidden; height: 35px; display: block; cursor: default; white-space: nowrap; resize: none; box-sizing: border-box; }
.copy-found-media-link-container textarea.found-media-link-destination:focus, .copy-link-to-tweet-container textarea.link-to-tweet-destination:focus { border-color: rgb(86, 180, 239); }
.copy-link-to-tweet-container p { font-size: 12px; margin-top: -10px; }
.report-dialog .new-report-flow-report { height: 350px; width: 520px; }
.block-dialog .block-section { border-bottom: 1px solid rgb(230, 236, 240); padding-bottom: 0px; }
.block-dialog .block-section { padding: 30px; }
.block-dialog .block-user-description { color: rgb(102, 117, 127); font-size: 13px; padding-top: 15px; }
.block-dialog .block-user-description a { white-space: nowrap; }
.block-dialog .submit-section { background-color: rgb(245, 248, 250); border-radius: 0px 0px 6px 6px; }
.block-dialog .block-button { margin-left: 10px; }
.block-dialog a:focus { text-decoration: none; }
.block-dialog .label-head, .block-dialog .label-title { font-weight: bold; font-size: 14px; }
.block-dialog .btn, .report-dialog .btn { float: right; }
.report-dialog .new-report-flow-next-button { margin-left: 15px; }
.new-report-flow-next-button .add-text .tweet-number { padding-left: 5px; }
#global-tweet-dialog .modal-tweet-form-container { padding: 15px; }
#retweet-tweet-dialog .modal, #global-tweet-dialog .modal { width: 590px; }
#global-tweet-dialog { height: 100%; overflow: hidden; }
.sms-confirmation-dialog .btn { float: right; }
.sms-confirmation-dialog .btn-link { margin-left: 30px; }
.sms-confirmation-dialog .form-actions { padding-left: 110px; }
.sms-confirmation-dialog .control-label.numeric-pin-label { width: 130px; margin-right: 10px; }
#block-list-export-dialog .btn { float: right; margin-left: 5px; }
#block-list-export-dialog .users-section { height: 190px; overflow: scroll; margin-top: -20px; }
#block-list-export-dialog p { color: rgb(101, 119, 134); }
#block-list-export-dialog .modal-header { border-bottom: 0px none; }
#block-list-export-dialog .stream-container { overflow: hidden; }
#block-list-export-dialog .stream-end, #block-list-export-dialog .stream-loading { border: 0px none; }
#block-list-export-dialog .processing-bar, #block-list-export-dialog .done-btn { display: none; }
#block-list-export-dialog #include-imported-block { margin-right: 4px; margin-bottom: 7px; }
#block-list-export-dialog .modal-header { height: 135px; }
#block-list-import-dialog .btn { float: right; margin-left: 5px; }
#block-list-import-dialog #imported-user-name-list { height: 200px; overflow: scroll; }
#block-list-import-dialog .import-header-text { color: rgb(101, 119, 134); margin-top: 20px; }
#block-list-import-dialog .modal-header { border-bottom: 0px none; }
#block-list-import-dialog .processing-text { display: none; }
#block-list-import-dialog .name-list { display: none; }
#block-list-import-dialog .block-button, #block-list-import-dialog .done-button { display: none; }
#block-list-import-dialog .import-button { display: block; }
#block-list-import-dialog .file-upload-section { border: 1px solid rgb(225, 232, 237); height: 40px; }
#block-list-import-dialog #filename { height: 30px; width: 100%; opacity: 0; position: absolute; cursor: pointer; }
#block-list-import-dialog .upload-icon { float: right; margin-right: 10px; color: rgb(29, 161, 242); }
#block-list-import-dialog .uploaded-file { color: rgb(101, 119, 134); padding-left: 10px; padding-top: 10px; }
#block-list-import-dialog #error-message { margin-top: 10px; color: red; }
#block-list-import-dialog .modal-body { height: 200px; margin-top: 20px; }
#block-list-import-dialog .modal-header { height: 100px; }
.BouncerContent { height: 365px; }
#bouncer-flow { width: 480px; height: 365px; margin-left: 10px; }
.BouncerSpinner { position: relative; height: 365px; }
.BouncerSpinner-image { background-image: url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-blue-26x26@2x.gif"); background-repeat: no-repeat; background-size: cover; display: block; height: 26px; width: 26px; position: absolute; left: 50%; top: 50%; margin-left: -13px; margin-top: -13px; }
#profile-hover-container { position: absolute; display: none; z-index: 1011 ! important; }
.hovercard .arrow::after { border-top-color: rgb(255, 255, 255); border-width: 10px; margin-left: -10px; }
.hovercard .arrow::before { border-width: 12px; margin-left: -12px; }
.hovercard.gravity-north:not(.with-banner) .arrow { top: 9px; }
.hovercard.gravity-south:not(.with-banner) .arrow { background-color: rgb(255, 255, 255) ! important; }
.hovercard.weight-left .right-side, .hovercard.weight-right svg:not(.right-side), .hovercard.gravity-north.with-banner .arrow, .hovercard.gravity-north:not(.with-banner) svg, .hovercard.gravity-south svg { display: none; }
.hovercard.profile-card .follow-button .button-text .Icon:not(.Icon--follow) { color: inherit; }
.nav-tabs::before, .nav-tabs::after { content: " "; display: table; }
.nav-tabs::after { clear: both; }
.ProfileCanopy-header.custom-timeline-canopy-background::before { box-shadow: none; }
#leadgen-confirm-dialog iframe { width: 100%; overflow: hidden; border: 0px none; }
#leadgen-confirm-dialog .cards2-promotion-iframe { height: 250px; }
.ColorPicker-colorList .Icon--check::before { color: rgb(240, 240, 240); height: 12px; padding-top: 8px; }
.ColorPicker-more .Icon--add::before, .ColorPicker-hex .Icon--discover::before { color: rgb(152, 161, 164); height: 12px; padding-top: 8px; }
.AuthWebViewDialog .modal { width: 590px; }
.AuthWebViewDialog .modal-body { overflow: hidden; border-radius: 6px; padding: 0px; }
.ContactsDashboard .contact-stream-item::before, .ContactsDashboard .contact-stream-item::after { content: none; }
@keyframes accountUnfollowBackgroundFade {
  0% { background-color: rgb(255, 208, 63); }
  100% { background-color: rgb(245, 248, 250); }
}
.EmojiCategoryIcon.is-active, .EmojiCategoryIcon:active, .EmojiCategoryIcon:hover:not([disabled]), .EmojiCategoryIcon:focus { background-image: url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/emoji-categories.png"), none; }
@media not all, screen and (min-resolution: 192dpi) {
  .EmojiCategoryIcon.is-active, .EmojiCategoryIcon:active, .EmojiCategoryIcon:hover:not([disabled]), .EmojiCategoryIcon:focus { background-image: url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/emoji-categories@2x.png"), none; }
}
.EmojiPicker { bottom: 0px; height: 36px; position: absolute; right: 0px; width: 32px; }
.EmojiPicker-trigger { bottom: 1px; color: rgb(170, 184, 194); position: absolute; right: 7px; }
.EmojiPicker-trigger .Icon { color: inherit; font-size: 19px; }
.EmojiPicker-trigger:hover, .EmojiPicker-trigger:active, .EmojiPicker-trigger:focus { outline: 0px none; }
.EmojiPicker-dropdownMenu.dropdown-menu { height: 350px; padding: 0px; width: 280px; }
.EmojiPicker-content.Caret::before, .EmojiPicker-content.Caret.Caret--stroked::after { left: 15px; }
.EmojiPicker-content--right.Caret::before, .EmojiPicker-content--right.Caret.Caret--stroked::after { left: calc(100% - 15px); }
.EmojiPicker-content.Caret::before { border-color: rgba(0, 0, 0, 0.1); border-width: 8px; }
.EmojiPicker-content.Caret::after { border-color: rgb(245, 248, 250); border-width: 8px; }
.EmojiPicker-content { height: 100%; text-align: right; width: 100%; }
.EmojiPicker-item.is-focused:not(:active):not(.is-active) { background-size: 1.7em 1.7em; }
.EmojiPicker:not(.EmojiPicker--keyboard) .EmojiPicker-item.is-focused { box-shadow: none; }
.EmojiPicker.is-loading .EmojiPicker-results, .EmojiPicker.is-loading .EmojiPicker-diversityRow, .EmojiPicker:not(.is-loading) .EmojiPicker-loading { display: none; }
.PaymentOrderDialog-flatten li::before { content: "•"; margin-right: 3px; }
.PaymentOrderDialog-flatten li:first-child::before { content: ""; margin: 0px; }
.Caret { position: relative; }
.Caret::before, .Caret--stroked::after { border-style: solid; border-width: 5px; content: ""; display: block; position: absolute; height: 0px; width: 0px; }
.Caret--right::before, .Caret--right.Caret--stroked::after { border-right-width: 0px ! important; border-bottom-color: transparent ! important; border-right-color: transparent ! important; border-top-color: transparent ! important; right: 0px; top: 50%; transform: translateX(100%) translateY(-50%); }
.Caret--left::before, .Caret--left.Caret--stroked::after { border-left-width: 0px ! important; border-bottom-color: transparent ! important; border-left-color: transparent ! important; border-top-color: transparent ! important; left: 0px; top: 50%; transform: translateX(-100%) translateY(-50%); }
.Caret--top::before, .Caret--top.Caret--stroked::after { border-top-width: 0px ! important; border-left-color: transparent ! important; border-right-color: transparent ! important; border-top-color: transparent ! important; top: 0px; left: 50%; transform: translateX(-50%) translateY(-100%); }
.Caret--bottom::before, .Caret--bottom.Caret--stroked::after { border-bottom-width: 0px ! important; border-left-color: transparent ! important; border-right-color: transparent ! important; border-bottom-color: transparent ! important; left: 50%; bottom: 0px; transform: translateX(-50%) translateY(100%); }
.Caret--right.Caret--stroked::after { right: 1px; }
.Caret--left.Caret--stroked::after { left: 1px; }
.Caret--top.Caret--stroked::after { top: 1px; }
.Caret--bottom.Caret--stroked::after { bottom: 1px; }
.Gallery { display: none; position: fixed; overflow-y: auto; overflow-x: hidden; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 3000; text-align: center; }
.Gallery::before { content: ""; height: 100%; display: inline-block; vertical-align: middle; }
.Gallery-content { position: relative; display: inline-block; vertical-align: middle; min-width: 592px; min-height: 338px; background-color: rgb(255, 255, 255); border-radius: 7px; }
.Gallery .modal-close { right: -30px; padding: 0px; height: auto; }
.Gallery .modal-close .Icon--close { color: white; font-size: 21px; }
.Gallery-media { background: black none repeat scroll 0% 0%; border-radius: 6px 6px 0px 0px; line-height: 0; overflow: hidden; position: relative; text-align: center; }
.Gallery-content:hover .GalleryNav-handle--prev, .Gallery-content:focus .GalleryNav-handle--prev, .Gallery-content.show-controls .GalleryNav-handle--prev, .Gallery-content:hover .GalleryNav-handle--next, .Gallery-content:focus .GalleryNav-handle--next, .Gallery-content.show-controls .GalleryNav-handle--next { opacity: 0.3; -moz-user-select: none; }
.GalleryNav { position: absolute; z-index: 1; top: 0px; height: 100%; }
.GalleryNav--prev { left: 0px; width: 33%; }
.GalleryNav--next { right: 0px; width: 67%; }
.GalleryNav-handle { position: absolute; top: 35%; width: 50px; height: 200px; margin-top: -17px; display: block; opacity: 0; transition: opacity 0.05s ease-in-out 0s; color: white; background: transparent none repeat scroll 0px center; line-height: 200px; }
.GalleryNav-handle--prev { left: -50px; }
.GalleryNav-handle--next { right: -50px; }
.GalleryTweet { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px 0px 6px 6px; border: 0px none; bottom: 0px; color: rgb(20, 23, 26); margin: 0px; position: relative; width: 100%; z-index: 2; }
.GalleryTweet a.with-icn:not(:hover) .Icon, .GalleryTweet .account-group .fullname, .GalleryTweet .account-group:hover .fullname { color: rgb(20, 23, 26); }
.FoundMediaSearch-query { background-color: rgb(245, 248, 250); background-repeat: repeat-x; background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 248, 250)); border: 1px solid rgb(230, 236, 240); border-radius: 4px 4px 0px 0px; position: relative; padding: 8px; margin: 0px; }
.FoundMediaSearch-query .Icon--search { color: rgb(102, 117, 127); left: 16px; position: absolute; top: 13px; }
.FoundMediaSearch-query input.FoundMediaSearch-queryInput[type="text"] { padding: 4px 4px 4px 24px; transition: none 0s ease 0s ; box-sizing: border-box; width: 100%; }
.FoundMediaSearch-dropdownMenu.dropdown-menu { padding: 0px; width: 450px; }
.FoundMediaSearch-content.Caret::before, .FoundMediaSearch-content.Caret.Caret--stroked::after { left: 24px; }
.FoundMediaSearch-content--right.Caret::before, .FoundMediaSearch-content--right.Caret.Caret--stroked::after { left: calc(100% - 24px); }
.FoundMediaSearch-content.Caret::before { border-color: rgba(0, 0, 0, 0.1); border-width: 8px; }
.FoundMediaSearch-content.Caret::after { border-color: rgb(245, 248, 250); border-width: 8px; }
.FoundMediaSearch-results { overflow: auto; min-height: 270px; max-height: 810px; padding: 3px 6px; will-change: transform; }
.FoundMediaSearch.autoplay-disabled .FoundMediaSearch-focusable:not(.is-focused) .FoundMediaSearch-category { background-size: 0px auto, cover; }
.FoundMediaSearch-items { display: flex; -moz-box-orient: horizontal; -moz-box-direction: normal; flex-flow: row wrap; }
.FoundMediaSearch.autoplay-disabled .FoundMediaSearch-focusable:not(.is-focused) .FoundMediaSearch-item img { display: none; }
.FoundMediaSearch-dropdownMenu .FoundMediaSearch-pagination { background: transparent url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-blue-26x26.gif") no-repeat scroll center center; clear: both; display: block; height: 26px; padding: 24px 0px; }
@media not all, screen and (min-resolution: 192dpi) {
  .FoundMediaSearch-dropdownMenu .FoundMediaSearch-pagination { background-image: url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-blue-26x26@2x.gif"); background-size: 26px 26px; }
}
@keyframes FoundMediaSearchItem-appearContainer {
  0% { top: 30px; }
  100% { top: 0px; }
}
@keyframes FoundMediaSearchItem-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.QuickPromoteDialog .modal { width: 830px; }
.QuickPromoteDialog .modal-body { overflow: hidden; border-radius: 6px; padding: 0px; }
.QuickPromoteDialog .modal-header { display: none; }
.QuickPromoteDialog .modal-close { right: -30px; }
.QuickPromoteDialog .modal-close .Icon { font-size: 21px; color: white; }
.QuickPromoteDialog .quick-promote-iframe { display: block; width: 830px; height: 280px; background: transparent url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-blue-26x26.gif") no-repeat scroll center center; }
@media not all, screen and (min-resolution: 192dpi) {
  .QuickPromoteDialog .quick-promote-iframe { background: transparent url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-blue-26x26@2x.gif") no-repeat scroll center center / 26px 26px; }
}
.RetweetDialog { height: 100%; overflow: hidden; }
.RetweetDialog-modal { width: 590px; }
.RetweetDialog-tweet.tweet { border-bottom: 0px none; padding: 0px 5px 10px; }
.RetweetDialog-commentBox { padding: 10px 15px; position: relative; }
.RetweetDialog-tweetForm.condensed .RetweetDialog-counter { display: none; }
.RetweetDialog-footer { padding: 15px; }
.RetweetDialog-footer .retweet-action { padding-top: 3px; }
.RetweetDialog-footer .Icon--retweet, .RetweetDialog-footer .Icon--tweet { font-size: 19px; vertical-align: -0.14em; }
.RetweetDialog-tweetActionLabel { display: none; }
.TranslationFeedbackDialog-form { color: rgb(102, 117, 127); }
.TranslationFeedbackDialog-sourceLanguage { margin-bottom: 15px; }
.TranslationFeedbackDialog-sourceLanguage select { margin-left: 5px; }
.TranslationFeedbackDialog-translationInput { width: 100%; margin: 0px 0px 15px; padding: 7px 9px; font-size: 14px; color: rgb(102, 117, 127); height: 76px; display: block; border: 1px solid rgb(204, 214, 221); resize: none; box-sizing: border-box; border-radius: 0px 3px 3px; }
.TranslationFeedbackDialog-translationInput:focus { border-color: rgb(29, 161, 242); }
.VideoTrim-timeBubble::before { border-style: solid; bottom: -7px; content: ""; position: absolute; }
.VideoTrim-timeBubble[data-mode="mid"]::before { border-color: rgb(29, 161, 242) transparent transparent; border-width: 7px 6px 0px; left: 50%; margin-left: -6px; }
.VideoTrim-timeBubble[data-mode="mid"][data-clip="left"]::before { left: 15px; }
.VideoTrim-timeBubble[data-mode="mid"][data-clip="right"]::before { left: auto; right: 15px; }
.VideoTrim-timeBubble[data-mode="left"]::before { border-color: transparent transparent transparent rgb(29, 161, 242); border-width: 7px 0px 7px 7px; left: 0px; }
.VideoTrim-timeBubble[data-mode="right"]::before { border-color: transparent rgb(29, 161, 242) transparent transparent; border-width: 7px 7px 7px 0px; right: 0px; }
.VideoTrim-ticks > div:nth-child(5n+1) { border-left-width: 2px; height: 10px; }
.VideoTrim-ticks > div:nth-child(60n+1) { height: 20px; }
.VideoTrim-leftHandle::before, .VideoTrim-rightHandle::before { background: rgb(68, 137, 190) none repeat scroll 0% 0%; box-shadow: 5px 0px 0px rgb(68, 137, 190); content: ""; left: 6px; height: 24px; position: absolute; top: 12px; width: 2px; }
.VideoTrim-midHandle.is-active .VideoTrim-leftHandle::before, .VideoTrim-midHandle.is-active .VideoTrim-rightHandle::before, .VideoTrim-leftHandle.is-hover::before, .VideoTrim-rightHandle.is-hover::before { background: rgb(29, 161, 242) none repeat scroll 0% 0%; box-shadow: 5px 0px 0px rgb(29, 161, 242); }
.VideoTrim-midHandleGrip::before { background: rgb(68, 137, 190) none repeat scroll 0% 0%; border-radius: 1.5px; box-shadow: -8px -8px rgb(68, 137, 190), 0px -8px rgb(68, 137, 190), 8px -8px rgb(68, 137, 190), -8px 0px rgb(68, 137, 190), 8px 0px rgb(68, 137, 190), -8px 8px rgb(68, 137, 190), 0px 8px rgb(68, 137, 190), 8px 8px rgb(68, 137, 190); content: ""; height: 3px; margin-left: -1.5px; position: absolute; width: 3px; }
.modal-body .age-gate-container p { font-size: 14px; line-height: 20px; }
.modal-body .age-gate-error { font-size: 14px; color: rgb(207, 79, 83); float: right; margin-top: 12px; margin-right: 5px; }
.modal-body .age-gate-error .icon { margin-right: 4px; margin-top: 2px; }
.modal-body .age-gate-container select { width: auto; }
.modal-body .age-gate-container .age-gate-bottom { margin-top: 15px; margin-bottom: 0px; }
.modal-body .age-gate-container a { font-size: 14px; }
.modal-body .age-gate-container .age-gate-header p { font-weight: bold; font-size: 14px; margin-top: 15px; margin-bottom: 8px; }
.modal-footer.age-gate-footer { padding: 12px; margin-right: 5px; }
.ProfileAlerts .signup input, .ProfileAlerts .signinfrm input:not([type="checkbox"]) { padding: 9px 10px; margin: 10px 0px; color: rgb(101, 119, 134); font-size: 14px; width: 100%; border-radius: 4px; display: inline; max-width: 427px; box-shadow: 0px 1px 0px rgb(238, 238, 238) inset, 0px 1px 0px rgb(255, 255, 255); }
@media all and (max-width: 1015px) {
  .ProfileAlerts .signup input, .ProfileAlerts .signinfrm input:not([type="checkbox"]), .ProfileAlerts .alerts-signup .password, .ProfileAlerts .alerts-signup .email { max-width: 356px; }
}
@media all and (max-width: 560px) {
  .ProfileAlerts .signup input, .ProfileAlerts .signinfrm input:not([type="checkbox"]), .ProfileAlerts .alerts-signup .password, .ProfileAlerts .alerts-signup .email { max-width: 298px; }
}
.PermalinkOverlay { background-color: transparent; bottom: 0px; left: 0px; overflow: auto; position: fixed; right: 0px; top: 0px; z-index: 1010; }
.PermalinkOverlay-with-background { background: rgba(0, 0, 0, 0.55) none repeat scroll 0% 0%; }
.PermalinkOverlay-modal { background-color: transparent; border-radius: 6px; min-height: 250px; margin-bottom: 20px; position: absolute; top: 60px ! important; left: 50%; width: 640px; margin-left: -320px; transform: translate3d(0px, 0px, 0px); }
.PermalinkOverlay-spinnerContainer { background-color: rgb(255, 255, 255); border-radius: 6px; }
.PermalinkOverlay-spinner { background: transparent url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-gray-32x32.gif") no-repeat scroll 0px center; display: block; height: 32px; margin: 0px auto; padding: 100px 0px; width: 32px; }
.PermalinkOverlay-button { margin-top: 4px; top: 60px; }
.PermalinkOverlay-next { display: none; right: 50%; margin-right: 340px; top: 50%; }
.PermalinkOverlay-button:focus { outline: 0px none; }
.PermalinkOverlay-button .Icon { color: rgb(255, 255, 255); }
#user-data-dashboard .sessions-table .session-data > div:nth-of-type(-n+100) { display: table-row; }
.ThreadedConversation-unavailableTweet::before, .ThreadedConversation-unavailableTweet::after { height: 11px; }
.ThreadedConversation-unavailableTweet::after { top: 23px; }
.ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet::before, .ThreadedConversation-tweet::after, .ThreadedConversation-moreReplies::before, .ThreadedConversation-unavailableTweet::before, .ThreadedConversation-unavailableTweet::after, .ThreadedConversation--permalinkTweetWithAncestors::before { bottom: 10px; border-color: rgb(29, 161, 242); border-style: solid; border-width: 2px; border-radius: 2px; content: ""; left: 60px; position: absolute; width: 0px; z-index: 1; }
.ThreadedConversation-tweet.last::after { display: none; }
.ThreadedConversation-tweet::after { top: 64px; bottom: 0px; }
.ThreadedConversation-tweet::before, .ThreadedConversation-moreReplies::before, .ThreadedConversation-unavailableTweet::before, .ThreadedConversation--permalinkTweetWithAncestors::before { top: -5px; }
.ThreadedConversation-tweet::before { bottom: auto; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; height: 10px; }
.ThreadedConversation--permalinkTweetWithAncestors::before { bottom: auto; border-radius: 0px 0px 2px 2px; height: 8px; }
.ThreadedConversation, .ThreadedConversation-moreReplies::after { border-bottom: 1px solid rgb(230, 236, 240); }
.ThreadedConversation-moreReplies::before { height: 10px; }
.ThreadedConversation-showMoreThreads::after { border-bottom: 1px solid rgb(230, 236, 240); }
.ThreadedConversation-tombstoneTweet::after { height: 9px; top: initial; }
.TweetBoxExtras { flex-shrink: 0; }
.TweetBoxExtras .icon-btn .Icon { font-size: 24px; line-height: 24px; }
.TweetBoxExtras-item { display: inline-block; position: relative; }
.TweetBoxExtras-item + .TweetBoxExtras-item { margin-left: 5px; }
.TweetBoxToolbar { display: flex; -moz-box-align: center; align-items: center; }
.TweetBoxToolbar-tweetButton { margin-left: auto; }
.ComposerDragHelp { border: 3px dashed rgb(81, 179, 241); bottom: 0px; color: rgb(204, 214, 221); display: none; font-size: 18px; font-weight: bold; left: 0px; overflow: hidden; position: absolute; pointer-events: none; right: 0px; top: 0px; z-index: 1; }
.ComposerDragHelp-text { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
@keyframes removing-thumbnail {
  0% { opacity: 1; width: 113px; }
  50% { opacity: 0; width: 113px; }
  100% { opacity: 0; width: 0px; }
}
@keyframes removing-large-thumbnail {
  0% { opacity: 1; width: 127px; }
  50% { opacity: 0; width: 127px; }
  100% { opacity: 0; width: 0px; }
}
@keyframes removing-thumbnail-gif-video {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.ComposerVideoInfo { border-top: 1px solid rgb(230, 236, 240); font-size: 14px; padding-top: 9px; margin-top: 8px; }
.PollingCardComposer { background-color: rgb(241, 241, 241); border-radius: 0px 0px 3px 3px; box-shadow: 0px 1px 0px rgb(204, 214, 221) inset; box-sizing: border-box; overflow: hidden; padding: 10px 0px; position: relative; }
.PollingCardComposer .PollingCardComposer-remove { position: absolute; right: 12px; top: 10px; }
.PollingCardComposer .PollingCardComposer-addOption { display: none; height: 20px; margin: 10px 0px 15px 36px; overflow: hidden; }
.PollingCardComposer[data-poll-max-options="4"] .PollingCardComposer-addOption { display: block; }
.PollingCardComposer .PollingCardComposer-removeOption { color: rgb(204, 214, 221); display: none; font-size: 8px; height: 20px; margin: 5px; padding: 0px 7px; }
.PollingCardComposer .PollingCardComposer-option { display: none; padding: 2px 0px 3px; }
.PollingCardComposer .PollingCardComposer-option1, .PollingCardComposer .PollingCardComposer-option2 { display: block; }
.PollingCardComposer .PollingCardComposer-option4 { margin-bottom: 10px; }
.PollingCardComposer-option .PollingCardComposer-optionRadio { float: left; height: 30px; margin: auto 10px; width: 15px; }
.PollingCardComposer-option div.PollingCardComposer-optionInput { box-sizing: border-box; float: left; height: 30px; overflow: hidden; white-space: nowrap; width: 300px; }
.PollingCardComposer .PollingCardComposer-optionInput.is-showPlaceholder::before { content: attr(data-placeholder); color: rgb(170, 184, 194); position: absolute; }
.PollingCardComposer-option .PollingCardComposer-optionInput.is-showPlaceholder:focus::before { opacity: 0.8; }
.PollingCardComposer .PollingCardComposer-pollDuration { color: rgb(170, 184, 194); padding: 12px 0px 10px 36px; border-top: 1px solid rgb(204, 214, 221); }
.PollingCardComposer .PollingCardComposer-durationLabel, .PollingCardComposer .PollingCardComposer-defaultDuration { padding-top: 4px; }
.PollingCardComposer .PollingCardComposer-customDuration, .PollingCardComposer[data-custom-duration="true"] .PollingCardComposer-defaultDuration { color: rgb(102, 117, 127); display: none; }
.PollingCardComposer .PollingCardComposer-defaultDuration, .PollingCardComposer[data-custom-duration="true"] .PollingCardComposer-customDuration { display: inline-block; }
.PollingCardComposer .PollingCardComposer-customDuration--daysLabel, .PollingCardComposer .PollingCardComposer-customDuration--hoursLabel, .PollingCardComposer .PollingCardComposer-customDuration--minutesLabel { margin-left: 5px; }
.PollingCardComposer .PollingCardComposer-customDuration--days, .PollingCardComposer .PollingCardComposer-customDuration--hours, .PollingCardComposer .PollingCardComposer-customDuration--minutes { height: 28px; margin-left: 2px; }
.MomentAnalyticsDialog .modal { width: 850px; }
.MomentAnalyticsDialog .modal-close { right: -30px; }
.MomentAnalyticsDialog .modal-close .Icon { color: rgb(255, 255, 255); font-size: 21px; }
.MomentAnalyticsDialog .modal-title { color: rgb(20, 23, 26); font-size: 21px; font-weight: 300; padding: 10px 0px; text-align: left; width: 100%; }
.MomentAnalyticsDialog-spinner { text-align: center; }
.MomentAnalyticsDialog-body { display: none; }
.MomentAnalyticsDialog-flex { display: flex; }
.MomentAnalyticsDialog-flex > div { width: 50%; }
.MomentAnalyticsDialog-card { -moz-box-flex: 1; flex: 1 1 0%; margin-right: 16px; }
.MomentAnalyticsDialog-data { -moz-box-flex: 1; flex: 1 1 0%; }
.MomentAnalyticsDialog-disclaimer { border-top: 1px solid rgb(230, 236, 240); color: rgb(102, 117, 127); font-size: 12px; font-weight: 300; margin-top: 10px; padding-top: 15px; text-align: center; }
.MomentCurationMenuItem.is-member .MomentCurationMenuItem-addText, .MomentCurationMenuItem:not(.is-member) .MomentCurationMenuItem-removeText { display: none; }
.MomentCapsuleSummaryListDialog .modal { width: 590px; }
.MomentCapsuleSummaryListDialog .modal-body { padding: 0px; }
.MomentCapsuleSummaryListDialog .modal-close { top: 14px; }
.MomentCapsuleSummaryListDialog-title { color: rgb(102, 117, 127); -moz-box-flex: 1; flex-grow: 1; font-size: 20px; font-weight: 300; line-height: 28px; }
.MomentCapsuleSummaryListDialog-header { -moz-box-align: end; align-items: flex-end; color: rgb(101, 119, 134); display: flex; padding: 10px 15px; }
.MomentCapsuleSummaryListDialog-button.MomentCapsuleSummaryListDialog-button--newMoment { color: rgb(255, 255, 255); font-weight: normal; margin: 0px 20px; }
.MomentCapsuleSummaryListDialog-listContainer { overflow-y: auto; }
.MomentCapsuleSummaryListDialog .spinner { margin: 15px auto; }
.DirectMessage.is-rapidFire .Caret::after, .DirectMessage.is-rapidFire .Caret::before, .DirectMessage.is-rapidFire .DirectMessage-footer { display: none; }
.DirectMessage .Caret::before, .DirectMessage .Caret::after { top: auto ! important; bottom: 6px ! important; }
.DirectMessage .Caret::after { border-color: rgb(255, 255, 255); }
.DirectMessage--sent .Caret::before { border-color: rgb(29, 161, 242); }
.DirectMessage--received .Caret::before { border-color: rgb(230, 236, 240); }
.DirectMessage--sent .DirectMessage-footerItem + .DirectMessage-footerItem::after { content: " • "; margin-right: 2px; }
.DirectMessage--received .DirectMessage-footerItem + .DirectMessage-footerItem::before { content: " • "; margin-left: 2px; }
.DirectMessage--emoji .DirectMessage-message .Emoji:nth-last-child(-n+10):first-child, .DirectMessage--emoji .DirectMessage-message .Emoji:nth-last-child(-n+10):first-child ~ .Emoji { font-size: 27px; vertical-align: middle; }
.DirectMessage--emoji .DirectMessage-message .Emoji:nth-last-child(-n+1):first-child, .DirectMessage--emoji .DirectMessage-message .Emoji:nth-last-child(-n+1):first-child ~ .Emoji { font-size: 40px; }
@keyframes DM-expandEmoji {
  0% { transform: scale(0.5); }
  60% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@keyframes DM-expandEmoji-copy {
  30% { transform: scale(0.5); }
  60% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.DMActivity { border-radius: 5px; display: none; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; max-width: 750px; min-width: 425px; overflow: hidden; position: relative; width: 45vw; }
.DMActivity--open { display: flex; }
.DMActivity-header { -moz-box-align: center; align-items: center; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(230, 236, 240); box-sizing: border-box; display: flex; flex-shrink: 0; min-height: 65px; padding: 10px 15px; color: rgb(101, 119, 134); }
.DMActivity-container { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 1; flex-grow: 1; height: 80vh; min-height: 450px; overflow: hidden; }
.DMActivity-back + .DMActivity-title { -moz-box-pack: center; justify-content: center; }
.DMActivity-title { -moz-box-align: center; align-items: center; display: inline-flex; -moz-box-flex: 1; flex: 1 1 auto; color: rgb(102, 117, 127); font-size: 20px; font-weight: 300; line-height: 28px; min-width: 0px; }
.DMActivity-toolbar { -moz-box-align: center; align-items: center; display: flex; flex-shrink: 0; -moz-box-pack: end; justify-content: flex-end; min-width: 42px; white-space: nowrap; }
.DMActivity-toolbar > * + * { margin-left: 15px; }
.DMActivity-notice { flex-shrink: 0; }
.DMActivity-body { background-color: rgb(255, 255, 255); display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 1; flex: 1 1 auto; overflow: hidden; position: relative; }
.DMActivity-footer { flex-shrink: 0; }
.DMAddParticipants-spinner { margin: 10px auto; }
.DMAvatar--3 .DMAvatar-container:nth-child(2) { left: 0px; }
.DMButtonBar { background-color: rgb(245, 248, 250); display: flex; -moz-box-pack: end; justify-content: flex-end; padding: 15px; }
.DMComposeButton { color: rgb(255, 255, 255) ! important; font-weight: normal; }
.DMComposer { display: flex; -moz-box-align: end; align-items: flex-end; }
.DMComposer-container { background-color: rgb(255, 255, 255); border-radius: 3px; border-style: solid; border-width: 1px; box-sizing: border-box; -moz-box-flex: 1; flex-grow: 1; min-height: 38px ! important; position: relative; width: 440px; }
.DMComposer .RichEditor { border: 0px none; }
.DMComposer .RichEditor-scrollContainer { max-height: 96px ! important; }
.DMComposer-editor { padding: 8px 40px 8px 8px ! important; }
.DMComposer .EmojiPicker-trigger { bottom: 4px; }
.DMComposer-mediaPicker { flex-shrink: 0; }
.DMComposer-send { flex-shrink: 0; }
.DMComposer-editor.is-showPlaceholder::before { color: rgb(204, 214, 221); content: attr(data-default-placeholder); margin-left: 2px; position: absolute; }
.DMComposer.has-thumbnail .DMComposer-editor.is-showPlaceholder::before, .DMComposer.tweet-showing .DMComposer-editor.is-showPlaceholder::before { content: attr(data-attachment-placeholder); }
.DMComposer.from-message-me-card .DMComposer-editor.is-showPlaceholder::before { content: attr(data-from-message-me-card-placeholder); }
.DMComposer.has-text-input-quick-reply .DMComposer-editor.is-showPlaceholder::before { content: attr(data-qr-text-input-placeholder); overflow: hidden; text-overflow: ellipsis; width: 90%; }
.DMComposer-attachment { border-bottom: 1px solid rgb(204, 214, 221); display: none; padding: 8px; position: relative; }
.DMComposer-attachment .thumbnail-wrapper { padding: 0px ! important; }
.DMComposer-discardTweet { background-color: rgb(34, 34, 34); border-radius: 3px; color: rgb(255, 255, 255); display: none; font-size: 12px; height: 20px; line-height: 1; opacity: 0.5; position: absolute; right: 3px; top: 3px; width: 20px; }
.DMComposer-discardTweet:hover, .DMComposer-discardTweet:focus { opacity: 0.8; }
.DMComposer-gifSearch .dropdown-menu { max-width: calc(45vw - 150px); min-width: 275px; }
.DMComposer .TweetBoxExtras { margin: 0px 5px; }
.DMComposer .TweetBoxExtras-item { margin: 0px; }
.DMComposer-quickReplyDismiss, .DMComposer.has-text-input-quick-reply .DMComposer-emojiBar, .DMComposer.has-text-input-quick-reply .DMComposer-gifSearch, .DMComposer.has-text-input-quick-reply .DMComposer-mediaPicker { display: none; }
.DMComposer .DMComposer-quickReplyDismiss { height: 38px; }
.DMComposer .QuickReplyDismiss, .DMComposer .QuickReplyDismiss-icon { height: 100%; }
.DMComposer .QuickReplyDismiss-icon .Icon--close { font-size: 14px; }
.DMComposer .tweet-box { border: medium none ! important; min-height: 0px ! important; }
.DMComposer-mediaPicker .photo-selector { margin: 0px ! important; }
.DMComposer .icon-btn { border: medium none ! important; background: transparent none repeat scroll 0% 0% ! important; }
.DMComposer-media .thumbnail-container { background-color: transparent ! important; box-shadow: none ! important; height: auto ! important; position: static ! important; }
.DMComposer-send button { padding: 9.5px 16px ! important; }
.DMConversation { position: relative; }
.DMConversation-scrollContainer { max-height: 100%; overflow-x: hidden; padding: 15px; position: relative; transform: translateZ(0px); }
.DMConversation-container { -moz-box-pack: end; justify-content: flex-end; }
.DMConversation-content { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: end; justify-content: flex-end; -moz-box-flex: 1; flex-grow: 1; flex-shrink: 0; }
.DMConversation-sendingStateIndicator { display: flex; -moz-box-pack: center; justify-content: center; padding: 5px; }
.DMConversation-composer { box-sizing: border-box; width: 100%; padding: 10px; border-top: 1px solid rgb(230, 236, 240); }
.DMConversation-readonly { width: 100%; }
.DMConversation-readonly, .DMConversation.is-readonly .DMConversation-composer { display: none; }
.DMConversation-composer, .DMConversation.is-readonly .DMConversation-readonly { display: block; }
.DMConversation-readOnlyFooter { padding: 15px; background-color: rgb(238, 238, 238); border-top: 1px solid rgb(230, 236, 240); border-radius: 0px 0px 6px 6px; }
.DMConversation-newMessagesPillContainer { position: absolute; top: 100%; width: 100%; text-align: center; }
.DMConversation-newMessagesPill { background-color: rgb(255, 255, 255); border: 1px solid rgb(29, 161, 242); border-radius: 30px; box-sizing: border-box; color: rgb(29, 161, 242); cursor: pointer; display: inline-block; line-height: 30px; opacity: 1; padding: 0px 16px; position: relative; top: -40px; transition: all 0.35s linear 0s; visibility: visible; z-index: 5; }
.DMConversation-newMessagesPill.is-hidden { transition: all 0.35s linear 0s; top: 0px; opacity: 0; visibility: hidden; }
.DMConversation .Icon--arrowDown { vertical-align: top; }
.DMConversation-typingIndicator { overflow: hidden; }
.DMDialog { -moz-box-align: center; align-items: center; display: flex; -moz-box-pack: center; justify-content: center; overflow: auto; }
@media screen and (max-height: 450px) {
  .DMDialog { -moz-box-align: start; align-items: flex-start; }
}
.DMDialogTypeahead { display: flex; overflow: hidden; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 1; flex-grow: 1; height: 100%; padding-top: 8px; }
.DMDivider::before { border-bottom: 1px solid rgb(230, 236, 240); content: ""; display: block; position: absolute; top: 50%; width: 100%; }
.DMEmptyState { text-align: left; margin: 64px; }
.DMEmptyState-header { color: black; font-size: 27px; line-height: 32px; margin-bottom: 8px; }
.DMEmptyState-details { color: rgb(102, 117, 127); font-size: 14px; line-height: 20px; margin-bottom: 32px; }
.DMInbox-content { max-height: 100%; transform: translateZ(0px); }
.DMInbox-spinner { margin: 10px auto; }
.DMInbox-empty, .DMInbox.is-empty .DMInbox-conversations, .DMInbox.is-empty .DMInbox-spinner, .DMInbox.is-empty .DMInbox-toolbar { display: none; }
.DMMuteNotifications-cancel, .DMMuteNotifications-mute { -moz-box-flex: 0; flex-grow: 0; }
.DMNotice { background: rgb(170, 184, 194) none repeat scroll 0% 0%; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; padding: 15px 45px; position: relative; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); z-index: 10; }
.DMNotice-message { align-self: center; color: rgb(255, 255, 255); -moz-box-flex: 1; flex-grow: 1; flex-shrink: 1; max-width: 100%; text-align: center; }
.DMNotice-actions { display: flex; flex-wrap: wrap; -moz-box-pack: center; justify-content: center; margin: 15px auto 0px; }
.DMNotice-actions > button { -moz-box-flex: 1; flex-grow: 1; margin: 3px; }
.DMNotice-dismiss { color: rgb(255, 255, 255); position: absolute; top: 15px; right: 15px; }
.DMNotice--error { background: rgb(224, 36, 94) none repeat scroll 0% 0%; }
.DMPopover-button { display: block; }
.DMPopover-content { background-color: rgba(255, 255, 255, 0.98); border-radius: 4px; border: 0px solid rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); display: none; margin-top: 8px; z-index: 900; }
.DMPopover-content.Caret::before, .DMPopover-content.Caret::after { border-width: 8px; }
.DMPopover-content.Caret::before { border-color: rgba(0, 0, 0, 0.1); }
.DMPopover-content.Caret::after { border-color: rgb(255, 255, 255); }
.DMPopover--center .DMPopover-content { left: 50%; position: absolute ! important; transform: translateX(-50%); }
.DMPopover--left .DMPopover-content { position: absolute; right: calc(50% - 16px); }
.DMPopover--left .Caret::before, .DMPopover--left .Caret::after { left: calc(100% - 16px); }
.DMPopover--right .Caret::before, .DMPopover--right .Caret::after { left: 16px; }
.DMPopoverMenu { color: rgb(102, 117, 127); font-size: 14px; font-weight: 300; padding: 10px 0px; line-height: 28px; text-align: inherit; white-space: nowrap; }
.DMPopoverMenu-button { padding: 0px 15px; text-align: inherit; min-width: 100%; width: auto; outline: medium none ! important; }
.DMPopoverMenu-button:hover, .DMPopoverMenu-button:focus { background-color: rgb(101, 119, 134); color: white; }
.DMReadReceipt-check.is-seenAnimated:not(.is-seen) { animation-name: DMReadReceipt-checkSeen; animation-duration: 750ms; animation-fill-mode: forwards; }
@keyframes DMReadReceipt-checkSeen {
  0% { color: rgb(101, 119, 134); }
  50% { color: rgb(255, 255, 255); }
  100% { color: rgb(29, 161, 242); }
}
.DMReportConversation-groupMessage, .DMReportConversation--group .DMReportConversation-oneToOneMessage { display: none; }
.DMResendMessage-messageTextContainer { margin-top: 10px; }
.DMResendMessage-confirm, .DMResendMessage-copy, .DMResendMessage-cancel, .DMResendMessage-customErrorMessage, .DMResendMessage-defaultErrorMessage, .DMResendMessage-messageTextContainer, .DMResendMessage .DMNotice-dismiss { display: none; }
.DMResendMessage.is-retryAllowed .DMResendMessage-confirm, .DMResendMessage.is-retryAllowed .DMResendMessage-cancel, .DMResendMessage.is-retryAllowed .DMResendMessage-defaultErrorMessage, .DMResendMessage:not(.is-retryAllowed) .DMResendMessage-customErrorMessage { display: block; }
.DMResendMessage:not(.is-retryAllowed):not(.is-copyAllowed) .DMNotice-dismiss { display: block; }
.DMResendMessage:not(.is-retryAllowed):not(.is-copyAllowed) .DMNotice-actions { display: none; }
.DMSpinner { background-image: url("urn:not-loaded:https://abs.twimg.com/a/1493376975/img/t1/spinners/spinner-rosetta-blue-26x26@2x.gif"); background-repeat: no-repeat; background-size: cover; display: block; height: 26px; width: 26px; margin: auto; }
.DMTypeaheadHeader { color: rgb(20, 23, 26); display: block; font-weight: bold; padding: 5px 15px; }
.DMTypingIndicator { display: block; line-height: 0; overflow: hidden; padding: 10px 0px; position: relative; }
.DMTypingIndicator-avatarsContainer { display: inline-block; position: relative; }
@keyframes DMTypingIndicator-fade-in {
  0% { color: transparent; }
  100% { color: white; }
}
.DMTypingIndicator-messageBubble { display: inline-block; position: absolute; transform: translateY(-50%); top: 50%; }
@keyframes DMTypingIndicator-show-vertical {
  0% { top: 64px; }
  100% { top: 0px; }
}
@keyframes DMTypingIndicator-hide-vertical {
  0% { top: 0px; }
  100% { top: 64px; }
}
@keyframes DMTypingIndicator-show-horizontal {
  0% { margin-right: 0px; width: 0px; }
  100% { margin-right: 10px; width: 36px; }
}
@keyframes DMTypingIndicator-hide-horizontal {
  0% { margin-right: 10px; width: 36px; }
  100% { margin-right: 0px; width: 0px; }
}
.DMUpdateAvatar { margin-right: 10px; position: relative; text-align: center; }
.DMUpdateAvatar-avatar { width: 36px; height: 36px; border-radius: 100%; }
.DMUpdateAvatar-avatar:empty { background-color: rgb(230, 236, 240); }
.DMUpdateAvatar[data-has-custom-avatar="false"] .DMUpdateAvatar-remove, .DMUpdateAvatar[data-has-custom-avatar="false"] .DMUpdateAvatar-view { display: none; }
.DMUpdateAvatar-photoSelector { position: relative; }
.DMUpdateName-form { position: relative; }
.DMUpdateName-input, .DMUpdateName-input:focus { box-sizing: border-box; color: rgb(102, 117, 127); font-size: 20px; font-weight: 300; line-height: 22px; padding: 4px 35px; text-align: center; width: 100%; }
.DMUpdateName-confirm { font-size: 14px; position: absolute; right: 10px; top: 2px; }
.DMUpdateName-screenName { display: none; }
.DMViewParticipants-content { display: flex; -moz-box-flex: 1; flex-grow: 1; }
.TokenizedMultiselect-inputContainer { border: 1px solid rgb(151, 227, 255); border-radius: 5px; flex-shrink: 0; line-height: 20px; margin: 10px 15px; padding: 2px; position: relative; }
.TokenizedMultiselect-input { border: 0px none; box-shadow: none; box-sizing: border-box; height: 24px; outline: 0px none; margin: 2px 0px; padding: 2px; resize: none; vertical-align: top; width: 100%; }
.TokenizedMultiselect-input:focus { box-shadow: none; outline: 0px none; }
.DMTypeaheadSuggestions { -moz-box-flex: 1; flex-grow: 1; height: 100%; overflow-y: auto; position: relative; }
.TypingIndicatorMessageBubble { line-height: 0; }
.TypingIndicatorMessageBubble.Caret::before { border-color: rgb(230, 236, 240); }
.TypingIndicatorMessageBubble-dotContainer { background: rgb(230, 236, 240) none repeat scroll 0% 0%; border-radius: 5px; display: inline-block; line-height: 0; overflow: hidden; padding: 7px; position: relative; }
.TypingIndicatorMessageBubble-dot { display: inline-block; height: 8px; position: relative; width: 8px; }
.TypingIndicatorMessageBubble.is-hidden .TypingIndicatorMessageBubble-dot::after { animation-duration: 0.2s; animation-fill-mode: forwards; animation-name: TypingIndicatorMessageBubble-pop-in-2; animation-direction: reverse; animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.75); top: 50%; }
.TypingIndicatorMessageBubble:not(.is-hidden) .TypingIndicatorMessageBubble-dot::after { animation-duration: 0.2s, 1.1s; animation-fill-mode: forwards; animation-iteration-count: 1, infinite; animation-name: TypingIndicatorMessageBubble-pop-in, TypingIndicatorMessageBubble-blink; animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.75), cubic-bezier(0.25, 0.1, 0.25, 1); }
.TypingIndicatorMessageBubble-dot::after { background: rgb(170, 184, 194) none repeat scroll 0% 0%; border-radius: 100%; content: ""; display: inline-block; height: 100%; left: 50%; opacity: 0.5; position: absolute; top: calc(7px - -150%); transform: translate(-50%, -50%) scale(0.666); width: 100%; }
.TypingIndicatorMessageBubble-dot:nth-child(1)::after { animation-delay: 0s, 0.45s; }
.TypingIndicatorMessageBubble-dot:nth-child(2)::after { animation-delay: 0.1s, 0.725s; }
.TypingIndicatorMessageBubble-dot:nth-child(3)::after { animation-delay: 0.2s, 1s; }
@keyframes TypingIndicatorMessageBubble-pop-in {
  0% { top: calc(7px - -150%); }
  100% { top: 50%; }
}
@keyframes TypingIndicatorMessageBubble-pop-in-2 {
  0% { top: calc(7px - -150%); }
  100% { top: 50%; }
}
@keyframes TypingIndicatorMessageBubble-blink {
  0% { opacity: 0.5; transform: translate(-50%, -50%) scale(0.666); background: rgb(29, 161, 242) none repeat scroll 0% 0%; }
  25% { opacity: 1; transform: translate(-50%, -50%) scale(1); background: rgb(29, 161, 242) none repeat scroll 0% 0%; }
  50% { opacity: 0.5; transform: translate(-50%, -50%) scale(0.666); background: rgb(29, 161, 242) none repeat scroll 0% 0%; }
  75% { opacity: 0.5; transform: translate(-50%, -50%) scale(0.666); background: rgb(29, 161, 242) none repeat scroll 0% 0%; }
  100% { opacity: 0.5; transform: translate(-50%, -50%) scale(0.666); background: rgb(29, 161, 242) none repeat scroll 0% 0%; }
}
.Media:not(.is-playing) .Media-video { cursor: pointer; }
.DMFeedback { display: none; border-top: 1px solid rgb(230, 236, 240); width: 100%; padding: 0px; background-color: rgb(255, 255, 255); min-height: 100px; position: relative; }
.DMFeedback-dismiss { position: absolute; top: 10px; right: 13px; color: rgb(101, 119, 134); }
.DMFeedback iframe { width: 100%; height: auto; }
.DMQuickReply-optionDescription:nth-of-type(2) { text-overflow: ellipsis; white-space: nowrap; }
.LocationPickerDialog .LocationPickerDialog-modal { max-width: 750px; min-width: 425px; width: 45vw; }
.LocationPickerDialog-title.modal-title { color: rgb(136, 153, 166); }
.LocationPickerDialog-body { overflow: hidden; border-radius: 6px; padding: 0px; width: 100%; }
.LocationPickerDialog .modal-close { width: 29px; height: 20px; }
.LocationPickerDialog-container { height: 75vh; }
.LocationPickerDialog-iframe { min-height: 400px; height: 75vh; width: 100%; }
.LocationPickerDialog-footer { -moz-box-align: center; align-items: center; display: flex; height: 35px; -moz-box-pack: justify; justify-content: space-between; padding: 12px 15px; }
.LocationPickerDialog-footer button { white-space: nowrap; }
.LocationPickerDialog-suggestedLocation { font-size: 14px; line-height: 18px; margin-right: 10px; }
.LocationPickerDialog-suggestedLocation p.LocationPickerDialog-mainAddressLine { color: rgb(20, 23, 26); font-weight: bold; }
.LocationPickerDialog-suggestedLocation p.LocationPickerDialog-secondaryAddressLine { color: rgb(136, 153, 166); }
.LocationPickerDialog-yelpText { bottom: 6px; color: rgb(136, 153, 166); position: relative; }
.LocationPickerDialog-foursquareLogo { height: 15px; margin-top: 10px; }
