/* Effective stylesheet produced by snapshot save */
.ImportFriendsCallout-list li::before { content: counter(ImportFriendsListCounter, decimal); display: block; position: absolute; top: 0px; left: 2px; height: 22px; width: 22px; padding: 4px; background-color: rgb(204, 214, 221); color: rgb(102, 117, 127); border-radius: 50%; text-align: center; font-size: 16px; font-weight: bold; }
@keyframes underOverNavBar {
  0% { top: -50px; z-index: 999; }
  50% { top: 0px; z-index: 999; }
  70% { top: 47px; z-index: 999; }
  80% { top: 65px; z-index: 999; }
  84% { top: 65px; z-index: 1001; }
  100% { top: 47px; z-index: 1001; }
}
@keyframes ContactImportButtonsTransitionOut {
  0% { opacity: 1; visibility: visible; position: absolute; }
  50% { opacity: 0; visibility: hidden; position: absolute; }
}
@keyframes ContactImportButtonsTransitionIn {
  0% { visibility: hidden; position: absolute; opacity: 0; }
  50.5% { opacity: 0; visibility: visible; position: static; }
  100% { opacity: 1; }
}
.StartCongratulations-image:nth-child(2n+1) { float: right; }
.StartCongratulations-image:nth-child(1) { animation-delay: 0.6s; }
.StartCongratulations-image:nth-child(2) { animation-delay: 0.8s; }
.StartCongratulations-image:nth-child(3) { animation-delay: 1s; }
.StartCongratulations-image:nth-child(4) { animation-delay: 1.2s; }
@keyframes StartCongratulationsFadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0px); }
}
.StartPage-transitioning .StartNavigationItem:not(.StartNavigationItem--logo), .StartPage-transitioning .StartNavigation-search { opacity: 0; }
.StartRecommendations .Grid-cell:nth-child(3) .StartRecommendations-twoThirdsWidthPhoto, .StartRecommendations .Grid-cell:nth-child(4) .StartRecommendations-twoThirdsWidthPhoto { float: left; }
.UIWalkthrough { overflow: hidden; }
.UIWalkthrough .modal { left: 0px; max-height: 500px; padding: 0px; position: absolute; top: 0px; transform: translate3d(0px, 0px, 0px); transition: top 0.4s ease 0s, left 0.4s ease 0s, transform 0.4s ease 0s, width 0.4s ease 0s, margin 0.4s ease 0s; width: 275px; }
.UIWalkthrough .modal-body { height: 150px; padding: 26px 22px; transition: height 0.4s ease 0s; }
.UIWalkthrough-title { color: rgb(29, 161, 242); margin-bottom: 8px; }
.UIWalkthrough .modal-footer { padding: 14px 22px; }
.UIWalkthrough-step { display: none; padding-right: 15px; position: absolute; }
.UIWalkthrough-button { padding: 6px 16px; }
.UIWalkthrough-clickBlocker { bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px; z-index: 5002; }
.UIWalkthrough-header { display: flex; -moz-box-pack: justify; justify-content: space-between; margin-bottom: 12px; }
.UIWalkthrough-skip, .UIWalkthrough-stepProgress { color: rgb(101, 119, 134); font-size: 10px; font-weight: 500; text-transform: uppercase; }
.UIWalkthrough-icon { background-color: rgb(29, 161, 242); border-radius: 25px; color: white; font-size: 18px; height: 20px; line-height: 1; padding: 5px; width: 20px; }
.UIWalkthrough-step--like .UIWalkthrough-icon { background-color: rgb(224, 36, 94); }
.UIWalkthrough-step--like .UIWalkthrough-title { color: rgb(224, 36, 94); }
.UIWalkthrough-step--search .UIWalkthrough-icon { background-color: rgb(121, 75, 196); }
.UIWalkthrough-step--search .UIWalkthrough-title { color: rgb(121, 75, 196); }
.UIWalkthrough-step--retweet .UIWalkthrough-icon, .UIWalkthrough-step--trends .UIWalkthrough-icon { background-color: rgb(23, 191, 99); }
.UIWalkthrough-step--retweet .UIWalkthrough-title, .UIWalkthrough-step--trends .UIWalkthrough-title { color: rgb(23, 191, 99); }
.UIWalkthrough-step--retweet .UIWalkthrough-icon { font-size: 16px; }
.UIWalkthrough-caret { left: 25px; position: absolute; top: 0px; transition: top 0.4s ease 0s, left 0.4s ease 0s; z-index: 1; }
.UIWalkthrough-caret::after, .UIWalkthrough-caret::before { border: 10px solid transparent; content: " "; height: 0px; pointer-events: none; position: absolute; top: -20px; transition: top 0.4s ease 0s, border-color 0.4s ease 0s; width: 0px; }
.UIWalkthrough--east .UIWalkthrough-caret::after, .UIWalkthrough--west .UIWalkthrough-caret::after, .UIWalkthrough--east .UIWalkthrough-caret::before, .UIWalkthrough--west .UIWalkthrough-caret::before { top: 15px; }
.UIWalkthrough--south .UIWalkthrough-caret::after, .UIWalkthrough--south .UIWalkthrough-caret::before { top: 0px; }
.UIWalkthrough--east .UIWalkthrough-caret::after { border-left-color: rgb(255, 255, 255); }
.UIWalkthrough--west .UIWalkthrough-caret::after { border-right-color: rgb(255, 255, 255); }
.UIWalkthrough--north .UIWalkthrough-caret::after { border-bottom-color: rgb(255, 255, 255); }
.UIWalkthrough--south .UIWalkthrough-caret::after { border-top-color: rgb(255, 255, 255); }
.Avatar { -moz-force-broken-image-icon: 1; display: block; border-radius: 3px; }
.Avatar--size32 { height: 32px; width: 32px; }
.Avatar--circle { border-radius: 50%; }
.ProfileCanopy-header::before { display: block; content: ""; position: absolute; height: 100%; width: 100%; box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2) inset; z-index: 1; }
.ProfileHeaderCard-birthdateTextLink:focus:not(:hover) { text-decoration: none; }
@keyframes ProfileHeaderCard-periscopeProfileBlink {
  0% { color: rgb(101, 119, 134); }
  40% { color: rgb(224, 36, 94); }
  60% { color: rgb(224, 36, 94); }
  100% { color: rgb(101, 119, 134); }
}
.ProfileHeaderCard-periscopeProfile.is-live .ProfileHeaderCard-periscopeProfileTextLink, .ProfileHeaderCard-periscopeProfile:not(.is-live) .ProfileHeaderCard-periscopeProfileTextLive { display: none ! important; }
.ProfileListsTimeline .GridTimeline-end:not(.has-items) { background-color: rgb(255, 255, 255); border: 1px solid rgb(230, 236, 240); border-radius: 0px 0px 4px 4px; }
.ProfilePage-editingButtons, .ProfilePage-editingOverlay, .ProfilePage .ProfileHeaderCardEditing, .ProfilePage .ProfileAvatarEditing, .ProfilePage .ProfileHeaderEditing, .ProfilePage-testForEditingCss { display: none; }
.TweetImpressionsModule-barchart-tooltip-opensleft::before { left: 9px; position: absolute; top: -7px; display: inline-block; border-left: 7px solid transparent; border-bottom: 4px solid rgb(255, 255, 255); border-right: 7px solid transparent; content: ""; }
.TweetImpressionsModule-barchart-tooltip-opensleft::after { left: 10px; position: absolute; top: -6px; display: inline-block; border-left: 6px solid transparent; border-bottom: 6px solid black; border-right: 6px solid transparent; content: ""; }
.TweetImpressionsModule-barchart-tooltip-opensright::before { right: 9px; position: absolute; top: -7px; display: inline-block; border-left: 7px solid transparent; border-bottom: 4px solid rgb(255, 255, 255); border-right: 7px solid transparent; content: ""; }
.TweetImpressionsModule-barchart-tooltip-opensright::after { right: 10px; position: absolute; top: -6px; display: inline-block; border-left: 6px solid transparent; border-bottom: 6px solid black; border-right: 6px solid transparent; content: ""; }
.AdaptiveStickersPage-title .Icon--verified::before { color: transparent; }
.AdaptiveSearchTimeline-beforeModule:not(.AdaptiveSearchTimeline-separationModule) { border-bottom: 1px solid rgb(230, 236, 240); border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.AdaptiveSearchTimeline-beforeModule:not(.AdaptiveSearchTimeline-separationModule) .tweet { border-bottom: 0px none; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.AdaptiveSearchTimeline :not(.new-tweets-bar-visible) + .stream > .stream-items > .AdaptiveStreamUserGallery:first-child .AdaptiveSearchPage-moduleHeader { padding-top: 0px; }
.AdaptiveSearchTimeline--mediaGrid .stream-items::before, .AdaptiveSearchTimeline--mediaGrid .stream-items::after { content: " "; display: table; }
.AdaptiveSearchTimeline--mediaGrid .stream-items::after { clear: both; }
.AdaptiveSearchTimeline--mediaGrid .timeline-end:not(.has-items), .AdaptiveSearchTimeline--userGrid .GridTimeline-end:not(.has-items) { width: 590px; }
.AdaptiveSearchTimeline .AdaptiveStreamUserGallery-user .ProfileCard:not(.ProfileCard--wide), .AdaptiveSearchTimeline--userGrid .GridTimeline .ProfileCard:not(.ProfileCard--wide) { height: 289px; }
.Streams-featuredStreamList::after { content: ""; display: inline-block; width: 100%; }
.Streams .LoginForm input::-moz-placeholder, .Streams .SignupForm input::-moz-placeholder { color: rgb(168, 182, 192); }
.Streams-divider::before { background: rgb(204, 214, 221) none repeat scroll 0% 0%; content: ""; height: 1px; left: 0px; position: absolute; right: 0px; top: 45%; z-index: -1; }
.StreamsTopBar-searchInput::-moz-placeholder { color: rgb(170, 184, 194); text-overflow: ellipsis ! important; }
.StreamsTopBar-container:not(.StreamsTopBar-container--collapsedHero) .StreamsHero--tall .StreamsHero-content { top: 20px; }
.Streams .TweetForwardTimeline .tweet .time::before { display: none; }
.InStreamSignup .SignupForm-input input::-moz-placeholder, .InStreamLogin .LoginForm-input input::-moz-placeholder { color: rgba(255, 255, 255, 0.8); font-size: 14px; font-weight: 200; letter-spacing: 0.5px; }
.dropdown-menu, .dropdown-menu .signin label { width: auto; }
.dropdown-menu input[type="text"], .dropdown-menu input[type="password"] { width: 230px; }
@media screen and (max-width: 520px) {
  .message { width: 92%; }
}
.MomentsPage.MomentsPermalinkPage, .MomentsPage.MomentsGuidePage { background-color: rgb(255, 255, 255); }
.MomentsPage.MomentsPermalinkPage .AppContent, .MomentsPage.MomentMakerPage .AppContent { padding: 46px 0px 0px; width: 100%; }
.MomentsPage.MomentsPermalinkPage .MomentsPermalinkPage-content, .MomentsPage.MomentsGuidePage .MomentsGuidePage-content { margin: 0px auto; padding-left: 15px; padding-right: 15px; width: 976px; }
@media screen and (max-width: 1006px) {
  .MomentsPage.MomentsGuidePage .MomentsGuidePage-content, .MomentsPage.MomentsPermalinkPage .MomentsPermalinkPage-content { width: 640px; }
  .MomentsPage.MomentsPermalinkPage .MomentFloatingMenu, .MomentsPage.MomentMakerPage .MomentMakerRecommendations-scrollTop { display: none; }
}
.MomentsPage.MomentsGuidePage .Footer, .MomentsPage.MomentsPermalinkPage .Footer { margin-bottom: 60px; padding: 0px; }
.MomentsPage.MomentsGuidePage .Footer .flex-module-inner, .MomentsPage.MomentsPermalinkPage .Footer .flex-module-inner { text-align: center; }
.MomentsPage.MomentsGuidePage .Footer--blankBackground.Footer:hover .Footer-link, .MomentsPage.MomentsPermalinkPage .Footer--blankBackground.Footer:hover .Footer-link { color: rgb(29, 161, 242); }
.MomentSensitiveContentDialog .modal-body { background-color: rgb(29, 161, 242); border-radius: 4px; color: rgb(255, 255, 255); text-align: center; }
.MomentSensitiveContentDialog-message { margin: 64px 0px; }
.MomentSensitiveContentDialog-title { color: rgb(255, 255, 255); margin-bottom: 10px; }
.MomentSensitiveContentDialog-actions { -moz-box-align: center; align-items: center; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: inherit; justify-content: inherit; }
.MomentSensitiveContentDialog-button { background-color: rgb(255, 255, 255); border-radius: 4px; border: 0px none; color: rgb(29, 161, 242); margin-bottom: 12px; padding: 10px 40px; }
.MomentSensitiveContentDialog-link, .MomentSensitiveContentDialog-link:hover, .MomentSensitiveContentDialog-link:focus { color: rgb(255, 255, 255); margin-bottom: 32px; }
.MomentSensitiveContentDialog .MomentSensitiveContentDialog-button:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255), 0px 0px 0px 3px rgba(255, 255, 255, 0.5); }
@keyframes MomentAnimation-keyframes {
  0% { background-position: left center; }
  100% { background-position: right center; }
}
.MomentMediaItem.is-playing:not(.is-muted) .MomentAnimation--audioIcon { animation-timing-function: steps(46); animation-name: MomentAnimation-keyframes; animation-duration: 0.8s; animation-iteration-count: infinite; }
.MomentMediaItem { background-color: rgb(230, 236, 240); overflow: hidden; position: relative; }
.MomentMediaItem:not(.is-muted) .MomentMediaControls-hoverToUnmute { max-width: 16px; opacity: 1; }
.MomentMediaItem:not(.is-muted) .MomentMediaControls-hoverToUnmuteText { opacity: 0; }
.MomentMediaItem:not(.has-error) .MomentMediaItem-errorOverlay, .MomentMediaItem.has-error .MomentMediaControls { opacity: 0; visibility: hidden; }
.MomentMediaItem-entity { opacity: 0; transition: opacity 0.5s ease-in-out 0s; }
.MomentMediaItem[data-showable="true"] .MomentMediaItem-entity { opacity: 1; }
.MomentMediaItem-entity--image { display: block; }
.MomentButton { display: inline-block; font-size: 14px; line-height: 18px; text-decoration: none; transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
.MomentButton:active, .MomentButton:hover, .MomentButton:focus { outline: 0px none; text-decoration: none; }
.MomentButton-text { display: inline-block; }
.MomentButton-icon { line-height: 14px; vertical-align: text-top; }
.MomentButton--blue, .MomentButton--blue:focus { border: 1px solid rgb(29, 161, 242); border-radius: 4px; color: rgb(29, 161, 242); padding: 5px 12px; }
.MomentButton--blue:active, .MomentButton--blue:hover { color: rgb(29, 161, 242); background-color: rgba(29, 161, 242, 0.1); }
.MomentButton--gray, .MomentButton--gray:focus { color: rgb(101, 119, 134); font-weight: 400; }
.MomentButton--gray:active, .MomentButton--gray:hover { color: rgb(102, 117, 127); }
.MomentCapsuleCoverAttribution { display: block; font-size: 11px; margin-top: 8px; position: absolute; right: 0px; }
.MomentCapsuleCoverAttribution, .MomentCapsuleCoverAttribution:active, .MomentCapsuleCoverAttribution:focus, .MomentCapsuleCoverAttribution:hover { color: rgb(170, 184, 194); }
.MomentCapsuleLikesFacepile { display: flex; -moz-box-align: center; align-items: center; }
.MomentCapsuleLikesFacepile-count { color: rgb(101, 119, 134); float: left; font-size: 10px; line-height: 16px; padding: 0px 18px 0px 0px; text-transform: uppercase; }
.MomentCapsuleLikesFacepile-count:active, .MomentCapsuleLikesFacepile-count:focus { outline: 0px none; }
.MomentCapsuleLikesFacepile-countNum { display: block; font-size: 18px; font-weight: 500; line-height: 20px; }
.MomentCapsuleLikesFacepile-faces { height: 24px; overflow: hidden; }
.MomentCapsuleLikesFacepile-faces a:focus > img:first-child:last-child { outline: 0px none; }
.MomentCapsuleSubtitle { color: rgb(102, 117, 127); line-height: 1.3; }
.MomentCapsuleSubtitle .MomentUserByline-avatar { position: relative; top: 2px; }
.MomentCapsuleSubtitle-author + .MomentCapsuleSubtitle-context::before, .MomentCapsuleSubtitle-category + .MomentCapsuleSubtitle-context::before, .MomentCapsuleSubtitle-publish + .MomentCapsuleSubtitle-context::before { content: "•"; font-weight: 400; }
.MomentDropdownMenu-button { color: rgb(101, 119, 134); }
.MomentDropdownMenu-button:active, .MomentDropdownMenu-button:focus { outline: 0px none; }
.MomentDropdownMenu-button:hover, .MomentDropdownMenu.open .MomentDropdownMenu-button { color: rgb(29, 161, 242); }
.MomentDropdownMenu .dropdown-menu { left: -12px; top: 28px; }
.MomentFloatingMenu { backface-visibility: hidden; background-color: rgb(255, 255, 255); border: 1px solid rgb(230, 236, 240); border-radius: 4px; min-width: 90px; opacity: 0; position: fixed; right: calc(50% - -320px - -20px); top: 110px; transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; visibility: hidden; z-index: 2; }
.MomentFloatingMenu .MomentButton { border: 0px none; box-sizing: border-box; display: block; margin-bottom: 2px; padding: 12px 15px; text-align: left; width: 100%; }
.MomentFloatingMenu .MomentButton:last-child { margin-bottom: 0px; }
.MomentFloatingMenu .MomentButton-icon { margin-right: 8px; width: 15px; }
.MomentFormatLink { font-size: 14px; margin-top: 14px; }
.MomentFormatLink-anchor { border: 1px solid rgb(204, 214, 221); border-radius: 2px; display: block; padding: 16px; text-decoration: none; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
.MomentFormatLink-anchor:active, .MomentFormatLink-anchor:focus, .MomentFormatLink-anchor:hover { background-color: rgb(245, 248, 250); border-color: rgb(170, 184, 194); text-decoration: none; }
.MomentFormatLink-title, .MomentFormatLink-description { color: rgb(20, 23, 26); line-height: 1.5em; max-height: 1.5em; overflow: hidden; }
.MomentFormatLink-title { font-weight: 500; }
.MomentFormatLink-url { color: rgb(101, 119, 134); }
.MomentFormatLink--withText .MomentFormatLink-anchor:active, .MomentFormatLink--withText .MomentFormatLink-anchor:focus, .MomentFormatLink--withText .MomentFormatLink-anchor:hover { background-color: rgba(255, 255, 255, 0.4); }
.MomentLikeButton.is-liked .MomentLikeButton-text--notLiked, .MomentLikeButton.is-notLiked .MomentLikeButton-text--liked { display: none; }
.MomentLikeButton.is-liked .MomentLikeButton-text--liked, .MomentLikeButton.is-notLiked .MomentLikeButton-text--notLiked { display: inline-block; }
.MomentSportsScores-sportsGameDetailsItem:first-child::after { content: "  · "; }
.MomentTweetActions { color: rgb(204, 214, 221); display: flex; -moz-box-pack: end; justify-content: flex-end; position: absolute; right: 16px; }
.MomentTweetActions-item { padding-left: 16px; }
.MomentTweetActions .dropdown-menu { margin: 8px -10px 0px; }
.MomentTweetActions .ProfileTweet-action, .MomentTweetActions .ProfileTweet-action:last-child { min-width: auto; width: auto; }
.MomentTweetActions .ProfileTweet-action .Icon { font-size: 12px; }
.MomentTweetActions .ProfileTweet-actionCount { margin-left: 2px; top: -1px; }
.MomentTweetActions .ProfileTweet-actionButton, .MomentTweetActions .ProfileTweet-actionButtonUndo { font-size: 10px; outline: 0px none; top: 3px; }
.MomentTweetActions .HeartAnimationContainer { height: 12px; top: 1px; width: 11px; }
.MomentTweetActions .HeartAnimation { height: 35px; width: 35px; }
.MomentTweetActions--withText { top: 24px; }
.MomentTweetActions--withMedia { top: 0px; }
.MomentUserByline-avatar { float: left; }
.MomentUserByline-fullname { color: rgb(20, 23, 26); display: inline-block; font-weight: 500; }
.MomentCapsuleCover { margin: 40px auto 0px; width: 640px; }
.MomentCapsuleCover-media { border-bottom: 1px solid rgb(170, 184, 194); padding-bottom: 80px; position: relative; text-align: right; }
.MomentCapsuleCover-media .MomentMediaItem { height: 640px; width: 640px; }
.MomentCapsuleCover-title { color: rgb(20, 23, 26); font-size: 27px; font-weight: 600; line-height: 32px; margin-bottom: 24px; }
.MomentCapsuleCover .MomentCapsuleSubtitle-author + .MomentCapsuleSubtitle-context { color: rgb(101, 119, 134); }
.MomentCapsuleCover .MomentUserByline-avatar { border-radius: 4px; height: 32px; margin-right: 8px; width: 32px; }
.MomentCapsuleCover .MomentUserByline-nameBreak { display: block; }
.MomentCapsuleCover-description { color: rgb(102, 117, 127); font-size: 14px; line-height: 20px; margin: 24px 0px; }
.MomentCapsuleCover-misc { margin: 24px 0px 36px; }
.MomentCapsuleCover .MomentFollowButton, .MomentCapsuleCover .MomentLikeButton, .MomentCapsuleCover .MomentShareTweetButton, .MomentCapsuleCover .MomentDropdownMenu { display: inline-block; }
.MomentCapsuleCover .MomentFollowButton, .MomentCapsuleCover .MomentLikeButton, .MomentCapsuleCover .MomentEditButton, .MomentCapsuleCover .MomentShareTweetButton { margin-right: 8px; }
.MomentCapsuleCover .MomentDropdownMenu { margin-left: 8px; }
.MomentCapsuleItem { margin-bottom: 80px; position: relative; }
.MomentCapsuleItem:hover { cursor: pointer; }
.MomentCapsuleItem--withMedia .MomentMediaItem::before { background-color: rgba(0, 0, 0, 0.02); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.MomentCapsuleItemTweet { line-height: 1.5; position: relative; }
.MomentCapsuleItemTweet-byline, .MomentCapsuleItemTweet-date a, .MomentCapsuleItemTweet-date a:hover { color: rgb(101, 119, 134); }
.MomentCapsuleItemTweet a .invisible { font-size: 0px; line-height: 0; }
.MomentCapsuleItemTweet .MomentFormatCard.card2 { padding: 0px; }
.MomentCapsuleItemTweet .QuoteTweet { border-color: rgb(204, 214, 221); border-radius: 2px; margin-top: 18px; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
.MomentCapsuleItemTweet .QuoteTweet:active, .MomentCapsuleItemTweet .QuoteTweet:focus, .MomentCapsuleItemTweet .QuoteTweet:hover { background-color: rgb(245, 248, 250); border-color: rgb(170, 184, 194); }
.MomentCapsuleItemTweet .QuoteTweet-innerContainer { line-height: 1.3em; }
.MomentCapsuleItemTweet--withText { background-color: rgb(245, 248, 250); border-radius: 2px; padding: 24px; }
.MomentCapsuleItemTweet--withText .MomentCapsuleItemTweet-byline { height: 48px; margin-bottom: 10px; }
.MomentCapsuleItemTweet--withText .MomentUserByline-avatar { border-radius: 4px; height: 48px; margin-right: 8px; width: 48px; }
.MomentCapsuleItemTweet--withText .MomentUserByline-fullname { padding-top: 2px; }
.MomentCapsuleItemTweet--withText .MomentUserByline-nameBreak { display: block; }
.MomentCapsuleItemTweet--withText .TweetTextSize { font-size: 22px; font-weight: 300; line-height: 1.5; }
.MomentCapsuleItemTweet--withText .QuoteTweet:active, .MomentCapsuleItemTweet--withText .QuoteTweet:focus, .MomentCapsuleItemTweet--withText .QuoteTweet:hover { background-color: rgba(255, 255, 255, 0.4); }
.MomentCapsuleItemTweet--withMedia { margin-top: 10px; }
.MomentCapsuleItemTweet--withMedia .MomentCapsuleItemTweet-byline { margin-bottom: 5px; }
.MomentCapsuleItemTweet--withMedia .MomentUserByline-avatar { display: none; }
.MomentCapsuleItemTweet--withMedia .TweetTextSize { line-height: 1.5; }
.MomentCapsuleSummary { cursor: pointer; transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; width: 472px; }
.MomentCapsuleSummary-cover { background-color: rgb(204, 214, 221); border-radius: 2px; display: inline-block; position: relative; }
.MomentCapsuleSummary-details { position: relative; }
.MomentCapsuleSummary .MomentMediaItem { border-radius: 2px; }
.MomentCapsuleSummary-title, .MomentCapsuleSummary-description { line-height: 1.3; margin: 8px 0px; overflow: hidden; }
.MomentCapsuleSummary-title { color: rgb(20, 23, 26); display: block; }
.MomentCapsuleSummary-description { color: rgb(102, 117, 127); font-size: 14px; max-height: 54.6px; }
.MomentCapsuleSummary-misc { font-size: 0px; }
.MomentCapsuleSummary-misc > * { font-size: 14px; }
.MomentCapsuleSummary .MomentCallToAction, .MomentCapsuleSummary .MomentFollowButton, .MomentCapsuleSummary .MomentCapsuleLikesCount { margin: 8px 0px; }
.MomentCapsuleSummary .MomentCapsuleLikesCount { color: rgb(102, 117, 127); }
.MomentCapsuleSummary--portrait { display: flex; height: 220px; }
.MomentCapsuleSummary--portrait .MomentCapsuleSummary-title { font-size: 18px; max-height: 46.8px; }
.MomentCapsuleSummary--portrait .MomentCapsuleSummary-cover { margin-right: 16px; width: 165px; }
.MomentCapsuleSummary--portrait .MomentCapsuleSummary-details { width: 291px; }
.MomentCapsuleSummary--portrait .MomentMediaItem { height: 220px; width: 165px; }
.MomentCapsuleSummary--small.is-premade .MomentCapsuleSummary-cover::after { background-color: rgb(29, 161, 242); border-radius: 7px; border: 2px solid rgb(255, 255, 255); content: ""; height: 7px; position: absolute; right: -4px; top: -4px; width: 7px; }
.MomentCapsuleSummaryGroup { transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
.MomentCapsuleSummaryGroup:nth-child(2n+3) { border-top: 1px solid rgb(230, 236, 240); padding-top: 32px; }
.MomentCapsuleSummaryGroup .MomentCapsuleSummary--portrait { margin-bottom: 32px; }
.MomentCapsuleSummaryGroup--1and3, .MomentCapsuleSummaryGroup--3and1, .MomentCapsuleSummaryGroup--2and2 .MomentCapsuleSummaryGroup-list { display: flex; flex-wrap: wrap; -moz-box-pack: justify; justify-content: space-between; }
.MomentsPermalinkPage-capsule { transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
.MomentsPermalinkPage-tweets { margin: 80px auto; width: 640px; }
.MomentsPermalinkPage-related { border-top: 1px solid rgb(230, 236, 240); margin: 0px auto 60px; }
.MomentsPermalinkPage-relatedTitle { color: rgb(102, 117, 127); font-size: 18px; font-weight: 300; margin: 32px 0px; }
body:not(.swift-loading) .MomentCapsuleEditableMeta .is-showPlaceholder::before { color: rgb(204, 214, 221); content: attr(data-placeholder-default); position: absolute; }
body:not(.swift-loading) .MomentCapsuleEditableMeta .is-showPlaceholder:focus::before { color: rgb(230, 236, 240); }
.MomentMakerCapsuleCover-media:not(.has-media) .MomentMakerCapsuleCover-mediaMask, .MomentMakerCapsuleCover-media:not(.has-media) .MomentMakerMediaActionButtons-button--crop, .MomentMakerCapsuleCover-media.has-media .MomentMakerCapsuleCover-empty { display: none; }
.MomentMakerCapsuleCover-mediaMask::after { background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; bottom: 0px; content: ""; left: 0px; opacity: 0; position: absolute; right: 0px; top: 0px; transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
.MomentMakerCapsuleCover-mediaMask:hover::after { content: ""; opacity: 1; }
.MomentMakerCoverDialog-cell--image:hover::after { background-color: rgb(255, 255, 255); bottom: 0px; content: ""; left: 0px; opacity: 0.2; position: absolute; right: 0px; top: 0px; }
.MomentMakerCropBeforePublishDialog.modal:not(.is-autoPosition) { width: 502px; }
.MomentMakerCropOverlay-cropArea .ui-resizable-ne::after { right: 0px; }
.MomentMakerCropOverlay-cropArea .ui-resizable-sw::after { top: 20px; }
.MomentMakerCropOverlay-cropArea .ui-resizable-se::after { bottom: 0px; right: 0px; }
.MomentMakerCropOverlay-cropArea .ui-resizable-sw::after, .MomentMakerCropOverlay-cropArea .ui-resizable-se::after, .MomentMakerCropOverlay-cropArea .ui-resizable-nw::after, .MomentMakerCropOverlay-cropArea .ui-resizable-ne::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; height: 5px; position: absolute; width: 25px; }
.MomentMakerMediaInlinePreview-buttonRow .btn:nth-child(1) { margin-left: 0px; }
.MomentMakerPage.hasCoverOverlay .topbar:not(.MomentMakerTopBar) { display: none; }
.MomentMakerThemeColorDialog-color::before { color: rgb(255, 255, 255); content: ""; font-size: 18px; opacity: 0; position: absolute; transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; width: 100%; }
.MomentMakerThemeColorDialog-color.is-selected::before { opacity: 1; }
body:not(.swift-loading) .MutedKeywordsAddItemForm .is-showPlaceholder::before { color: rgb(170, 184, 194); content: attr(data-placeholder-default); padding-left: 2px; position: absolute; }
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; }
.ui-helper-clearfix::after { clear: both; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.crop-zone .cropper-mask::after { content: ""; position: absolute; top: -70px; left: -70px; width: 460px; height: 460px; z-index: 5999; opacity: 0.75; box-shadow: 0px 0px 0px 110px white inset, 0px 0px 0px 111px rgba(0, 0, 0, 0.1) inset, 0px 0px 20px 111px rgba(0, 0, 0, 0.2) inset; }
.circle-avatars .crop-zone .cropper-mask::after { border-radius: 50%; }
@keyframes expandBirthdateFields {
  0% { max-height: 35px; }
  100% { max-height: 200px; opacity: 1; }
}
.VisibilitySettings-optionIcon::before { text-align: left; }
.LiveVideoSlate-textOverlay::before { content: "&nbsp;"; }
.LiveVideoHomePageModule:not(.is-closed) .LiveVideoHomePageModule-toggleOpen, .LiveVideoHomePageModule.is-closed .LiveVideoHomePageModule-toggleClose { display: none; }
.LiveVideoHomePageModule:not(.is-closed) .LiveVideoHomePageModule-toggleClose, .LiveVideoHomePageModule.is-closed .LiveVideoHomePageModule-toggleOpen { display: inline; }
